.section-title {
    font-family: Arial;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    padding-bottom: 1.5rem;
    padding-top: 2.5rem;
    text-align: center;
}

/* header start */

#name-text {
    color: #7d7878;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    line-height: 14px;
    margin-bottom: 40px;
    margin-top: 40px;
    text-align: center;
}

/* header end */

/* quote start */

#quote-background {
    background-color: #bb8f9d;
}

#quote-content {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

#quote-container {
    margin-top: 20px;
}

.ml2 {
    font-size: 3.5em;
    font-weight: 900;
    color: #ffffff;
}

.ml2 .letter {
    line-height: 1em;
}

/* quote end */

/* about me start */

#about-me-container {
    background-color:#537483;
    padding-bottom: 2.5rem;
}

#about-me-content {
    background-color: #ffffff;
    border-radius: 12px;
    margin-left: 15%;
    margin-right: 15%;
}

.about-me-column {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
}

.column-title {
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
    padding-top: 1rem;
}

.column-description {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 2;
    font-weight: 200;
}

.column-divider {
    border-right-color: #cccccc;
    border-right-style: solid;
    border-right-width: thin;
}

.column-subheader {
    color: #375592;
    font-weight: 550;
}

/* about me end */

/* favorite places start */

#favorite-places-container {
    background-color: #d58266;
    padding-bottom: 2rem;
}

#favorite-places-content {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.carousel-image {
    height: 50vh;
    width: auto;
}

/* favorite places end */

/* projects start */

#projects-container {
    background-color: #ebebeb;
    padding-bottom: 1.5rem;
}

#projects-content {
    margin-left: 15%;
    margin-right: 15%;
}

.card-deck {
    margin-top: 1.5rem;
}

/* projects end */

/* footer start */

#footer-container {
    background-color: #171e28;
    padding-bottom: 2rem;
    padding-top: 2rem;
    text-align: center;
}

.logo-image {
    height: 30px;
    width: auto;
}

a:hover {
    text-decoration: none;
}

/* footer end */

/* contact form start */

#message-text {
    font-family: sans-serif;
    font-size: 40px;
    margin-top: 10%;
    padding-bottom: 40px;
    text-align: center;
}

#form-container {
    margin-left: 30%;
    margin-right: 30%;
}

#buttons {
    padding-top: 20px;
    padding-bottom: 50px;
}

#title {
    font-family: Pacifico;
    font-size: 35px;
    padding-top: 6rem;
    text-align: center;
}


/* contact form end */