#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#quote-container {
  margin-top: 20px;
}

.section-title {
    font-family: Arial;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
}

/* about me start */

#about-me-container {
    background-color:#537483;
    padding-bottom: 2.5rem;
}

#about-me-content {
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 12px;
    background-color: #ffffff;
}

.about-me-column {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.column-title {
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
    padding-top: 1rem;
}

.column-description {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 2;
    font-weight: lighter;
}

.column-divider {
    border-right-style: solid;
    border-right-color: #cccccc;
    border-right-width: thin;
}

.column-subheader {
    color: #375592;
    font-weight: 550;
}

/* about me end */

/* favorite places start */

#favorite-places-container {
    background-color: #d58266;
    padding-bottom: 2rem;
}

#favorite-places-content {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.carousel-image {
    height: 50vh;
    width: auto;
}

/* favorite places end */

/* projects start */

#projects-container {
    background-color: #ebebeb;
    padding-bottom: 1.5rem;
}

#projects-content {
    margin-left: 15%;
    margin-right: 15%;
}

.card-deck {
    margin-top: 1.5rem;
}

/* projects end */

/* footer start */

#footer-container {
    background-color: #171e28;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.logo-image {
    height: 30px;
    width: auto;
}

a:hover {
    text-decoration: none;
}

/* footer end */